<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pdf</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css')[1:] }}">
</head>
<body>
<div class="panel">
    <div class="panel-heading">
        {{ post.title }}
    </div>
    <div class="panel-body">
        {{ post.body }}
    </div>
    {% if(post.img) %}
        <div class="panel-img">
            <img class="card-img-top" src="{{ asset('uploads/posts/' ~ post.img)[1:] }}" alt="Post Img">
        </div>
    {% endif %}
</div>
</body>
</html>
