.panel{
    border: 1px solid #CCC;
    box-shadow: 5px 5px 5px #CCC;
}
.panel .panel-heading{
    background-color: #2b63e2;
    padding: 20px;
    color: #FFF;
    font-size: 18px;
}

.panel .panel-body{
    padding: 20px;
}

.panel .panel-img img{
    width: 15%;
    border: 2px solid #CCC;
    box-shadow: 5px 5px 5px #DDD;
    margin: 10px;
}
